@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
/* @import "https://unpkg.com/open-props/buttons.min.css"; */
@import "./layout.css";
@import "./buttons.css";
@import "./forms.css";
@import "./card.css";

:root {
  --total-height: 99.999vh;
  --total-width: 99.999vw;

  --nw-font-color: var(--black-6);
  --nw-primary: var(--purple-9);
  --nw-secondary: var(--purple-6);
  --nw-toolbar: var(--purple-6);
  --nw-main-area: var(--grape-9);
}

* {
  padding: var(--size-fluid-0);
  margin: var(--size-fluid-0);
  box-sizing: border-box;
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-2);
  font-size: var(--font-size-1);
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--grape-9);
}

p {
  padding-bottom: var(--size-1);
}

/* TODO: Try and change this to a left-bar */
.action-sheet {
  width: var(--size-14);
  animation: var(--animation-slide-out-down) forwards;

  &.open {
    animation: var(--animation-slide-in-up) forwards;
  }
}
